body {
  margin: 0;
  font-family: Arial;
  background: #0a0a0a;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
  border-bottom: 1px solid gold;
}
nav a {
  color: gold;
  margin-left: 15px;
  cursor: pointer;
}
section {
  padding: 40px;
  text-align: center;
}
.hidden { display:none; }
input, button {
  padding:10px;
  margin:10px;
}
